.Month {
  button {
    border-radius: 50%;
    padding: 10px;
    border: none;
    background-color: #e44332;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  & .month-header {
    margin: 50px auto;
    width: 490px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    padding: 0 15px;

    h3 {
      color: silver;
      margin: 0;
    }
  }

  & .month-header.current-day {
    justify-content: center;

    .btn-back {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  & .calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .days {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 10px);
    color: silver;
  }

  & .dates {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    color: silver;
  }

  & .date {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .todos {
      color: green;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &.past {
        color: red;
      }
    }
    & .number {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 700px) {
  .Month {
    & .month-header {
      width: 100%;

      h3 {
        font-size: 2rem;
      }
    }

    & .days {
      grid-template-columns: repeat(7, 45px);
    }

    & .dates {
      grid-template-columns: repeat(7, 45px);
      grid-template-rows: repeat(6, 45px);
    }

    & .month-header.current-day {
      justify-content: flex-end;

      .btn-back {
        position: absolute;
        top: 0;
        left: 20px;
      }
    }
  }
}
