.TodoItem {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: silver;
  border-bottom: 1px solid silver;
  position: relative;

  label,
  i {
    cursor: pointer;
  }

  label {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .todo-title {
      padding: 0 55px;
      height: auto;
    }
    .todo-title.completed {
      text-decoration: line-through;
    }
  }
  .todo-date {
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: -20px;
  }

  i {
    color: #e44332;
  }
}
