.TodoList {
  width: 60%;
  margin: 0 auto;
}
.TodoList.empty {
  img {
    width: 300px;
    height: auto;
  }
  p {
    font-size: 2.5rem;
    font-style: italic;
  }
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@media (max-width: 700px) {
  .TodoList {
    width: 80%;
  }
  .TodoList.empty {
    img {
      width: 200px;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
